@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200;300;400;700&display=swap');

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #eddbf9;
	font-family: 'Grandstander', sans-serif;
	color: #5b6f79;
}
